@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    height: 95.2%;
    width: 99.58%;
    font-family: 'Oswald', sans-serif;
    /* background: linear-gradient(134deg, red, blue); */
}

nav {
    background-color: black;
    color: white;
    height: 4rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.display {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(115deg, pink, blue);
}

.user {
    height: 75%;
    /* background-color: blue; */
    width: 30%;
    font-size: 2rem;
    /* margin: 8px; */
    display: flex;
    justify-content: center;
}

.void {
    height: 70%;
    width: 10%;
    /* background-color: red; */
    margin-top: 6rem;
}

.comp {
    height: 75%;
    width: 30%;
    /* background-color: pink; */
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

button {
    height: 4rem;
    width: 6rem;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 1.2rem;
    margin: 0.4rem;
}

button:hover {
    background: linear-gradient(122deg, rgb(255, 136, 0) 40%, rgb(0, 255, 21)) 50%;
    color: white;

}

.score_display {
    height: 7rem;
    width: 10rem;
    /* background-color: coral; */
    margin-top: 0;
}

.compsc {
    height: 3rem;
    width: 15rem;
    font-size: 2.2rem;
    background-color: rgb(102, 235, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.4rem;
}

.usersc {
    height: 3rem;
    width: 17rem;
    font-size: 2.2rem;
    background-color: rgb(103, 241, 103);
    display: flex;
    margin-left: 0.4rem;
    justify-content: center;
    align-items: center;
}

.user_input {
    margin-top: 4rem;
    height: 18rem;
    width: 20rem;
    /* background-color: red; */
    position: absolute;
}


.comp_input {
    margin-top: 4rem;
    height: 18rem;
    width: 20rem;
    /* background-color: red; */
    position: absolute;
}


.gameOver {
    height: 30%;
    width: 25%;
    background-color: red;
}